<div class="stream-container">
  <img src="/images/ongoing-game-bg.jpg" alt="pending-game-bg" class="stream-bg-img">
  <div class="stream-content">
    <div class="stream-player-info">
      <p class="player-count" id="player-count"><%= @roulette.roulette_participants.count %></p>
      <div id="player-list-container">
        <% @roulette.roulette_participants.limit(6).order(:winner).order(created_at: :desc).each do |item| %>
          <p><%= item.user.name %></p>
        <% end %>
      </div>
    </div>
    <div class="stream-timer">
    </div>
  </div>
</div>
